.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .circle {
    width: 200px;
    height: 200px;
    border: 2px solid #333;
    border-radius: 50%;
    position: relative;
    animation: rotate 5s linear infinite; /* Adjust animation duration as needed */
  }
  
  .image {
    position: absolute;
    background-color: #3498db;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: rotate-circle 5s linear infinite; /* Adjust animation duration as needed */

  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate-circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  