.project-slider {
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}
.project-info h1 {
    font-size: 2rem;
    margin: 0.8rem 0rem;
    font-weight: 700;
}

@media only screen and (min-width: 768px) {
    .project-slider {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .img-prev, .img-next {
        display: block;
    }
    .project-info {
        height: 0;
        overflow: hidden;
        position: absolute;
        transition: all 0.5s ease-in-out; /* Change 'ease-in' to 'ease-in-out' for smoother transition */
    }
    .img-curr:hover .project-info {
        height: 50%;
    }
    .project-info h1 {
        font-size: 2rem;
        margin: 0.8rem 0rem;
        font-weight: 700;
    }
}

@media only screen and (max-width: 768px) {
    .project-slider {
        display: grid;
        grid-template-columns: 1fr;
    }
    .img-prev, .img-next {
        display: none;
    }
}
