@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-primary: #000000;
  --dark-secondary: #323232;
  --color-primary: #FF0000;
  --color-secondary: #FF4D00;
}

.text-primary{
  color: var( --color-primary,#FF0000);
}
.text-secondary{
  color: var( --color-secondary,#FF4D00);
}
.text-dark-primary{
  color: var(--dark-primary,#000000);
}
.text-dark-secondary{
  color: var(--dark-secondary, #323232);
}

.primary{
  background-color: var( --color-primary,#FF0000);
}
.secondary{
  background-color: var( --color-secondary,#FF4D00);
}
.dark-primary{
  background-color: var(--dark-primary,#000000);
}
.dark-secondary{
  background-color: var(--dark-secondary, #323232);
}

.shadow-large{
  box-shadow: 0rem 0rem 1.2rem rgba(0, 0, 0, 0.6);
}
.shadow-medium{
  box-shadow: 0rem 0rem 0.6rem rgba(0, 0, 0, 0.6);
}
.shadow-small{
  box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.6);
}
